{
    # Global options block. Entirely optional, https is on by default
    # Optional email key for lets encrypt
    email bart@mikasoftware.com
    # Optional staging lets encrypt for testing. Comment out for production.
    # acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}
workery.cloud {
    reverse_proxy app:8000
}
www.workery.cloud {
    redir https://workery.cloud{uri}
}
