bin
.git
**/.git
.dockerignore
.env
Dockerfile
Dockerfile.dev
docker-compose.yml
dev.docker-compose.yml
dev.Dockerfile

# Private project related files.
data/workery_db.backup
data/workery_v2_db.backup
data
data/*
*/data
*/data/*
**/data
**/data/*
workery_v2_db.backup
private.txt
private.md
todo.txt
private_docker.md
private.db.md
private.dev.md
private.prod.md
private_prod.md
private_readme.md
private_readme_qa.md
attachments.csv
